/* @media screen and (min-width: 480px){ */
/* 	body{ */
/* 		background:red; */
/* 	} */
/* } */
body{
	background-color:white;
	margin:0;
}
header,#content,footer{
	margin:0 auto;
}
header{
	height:100vh;
	background-image:url("images/startrek.jpg");
	background-position:center;
	background-size:cover;
	background-repeat: no-repeat;
}

header nav ul{
	padding-top:40px;
	margin:0 auto;
	width:70%;
	list-style-type:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
header nav ul li a{
	color:black;
	text-decoration:none;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
}
#intro{
	text-align:center;
	padding:0 20%;
}
.row-img{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
}
.row-img .img{
	height:80vh;
	width:80%;
	background-position:center;
}

.row-img:nth-child(odd){
	flex-direction:row-reverse;
}

.row-img .text{
	max-width:20%;
	text-align:justify;
}
.row-img .text p{
	padding:0 20%;
}

.row-img .img.team1{
	background-image:url("images/team1.png");
	background-size:cover;
}
.row-img .img.espace{
	background-image:url("images/espace.png");
	background-size:cover;
}
.row-img .img.team{
	background-image:url("images/team.png");
	background-size:cover;
}
#team{
	
}
#team .intro{
	text-align:center;
}
#team .team-list{
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	margin:0 auto;
	align-items:center;
}
#team .team-list li{
	width:20%;
}
#team .team-list .team-member .name{
	text-align:center;
	font-weight:bold;
}
#Carte{
	width:100vw;
	height:80vh;
	background-image:url("images/carte.png");
	background-size:cover;
	background-position:center;
}

@media screen and (max-width: 970px){
	.row-img .img{
		width:100%;
	}
		#team .team-list li{
		width:30%;
	}
}