/* @media screen and (min-width: 480px){ */
/* 	body{ */
/* 		background:red; */
/* 	} */
/* } */
body{
	background-color:white;
}
header,#content,footer{
	margin:0 auto;
}
header{
	max-height:513px;
	background-image:url("images/startrek.jpg");
	background-size:contain;
	background-repeat: no-repeat;
}

#intro{
	text-align:center;
}
.row-img{
	display:flex;
	width:100%;
	height:390px;
	justify-content: space-around;
	flex-grow:1;
}
.row-img .img{
	background-size:contain;
	background-repeat: no-repeat;
	height:100%;
	width:80%;
}
.row-img .img.team1{
	background-image:url("images/team1.png");
}
.row-img .img.espace{
	background-image:url("images/espace.png");
}
.row-img:nth-child(odd) .text{
	order:1;
}
.row-img:nth-child(odd) .img{
	order:2;
	align-self: flex-end;
	background-position:right;
}
.row-img .img.team{
	background-image:url("images/team.png");
}
.row-img .text{
	max-width:20%;
	text-align:justify;
}
.row-img .text p{
	max-width:80%;
	margin:0 auto;
	display:block;
}

#team{
	
}
#team .intro{
	text-align:center;
}
#team .team-list{
	list-style-type:none;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	max-width:80%;
	margin:0 auto;
	align-items:center;
}
#team .team-list .team-member .name{
	text-align:center;
	font-weight:bold;
}